<%- include('partials/header2') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-stream fa-6x"></i>
    <h1 class="display-3">TODOLIST</h1>
    <p class="lead">Create lists, track your items, organize by task, and more!</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
